body {
    background-color: lightgrey;
}

html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif
}

.container {
    margin: 0 auto;
    width: 70%;
    background-color: white;
}

.title {
    text-align: center;
}